div {
    border: 1px solid black;
    padding: 30px;
    height: 80px;    
}

p { 
    display: inline;
    margin: 0px;
    font-size: 20px;
    overflow: hidden;
    color: gray;
}

.noClick {
    pointer-events: none;
}