* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.view-port {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container {
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

.container .title {
    font-size: 30px;
    font-weight: 50px;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}

button {
    font-weight: 500;
    color: black;
}

.gameboard {
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    justify-content: space-between;
}

.gameboard .players {
    font-weight: 500;
    margin: 0 0 10px 10px;
}

.gameboard .player-one {
    color : rgb(1, 104, 1);
}

.gameboard .player-two {
    color : red;
}

.gameboard .gamefield {
    max-width: 300px;
}

.gameboard .gamefield .subfield {
    cursor: pointer;
    height: 100px;
    width: 100px;
    border: 1px solid black;
    &.player-one {
        background: rgb(1, 104, 1);
    }
    &.player-two {
        background: red;
    }
}