<div class="header">
    <h1 *ngIf="gameLogic.isGameRunning" [ngClass]="{'text-teal': gameLogic.activePlayer == 'O'}">
        {{ gameLogic.activePlayer }}'S TURN
    </h1>
    <h1 *ngIf="!gameLogic.isGameRunning"> Tic-Tac-Toe </h1>

    <section>
        <div class="square-container" *ngFor="let square of gameLogic.board">
            <app-squre [square]="square" border-blue></app-squre>
        </div>
    </section>

    <h1 *ngIf="gameLogic.winner"> {{ gameLogic.activePlayer }} WON </h1>

    <h1 *ngIf="gameLogic.isGamedone"> No Winner!!! </h1>

    <button mat-raised-button color="primary" (click)="resetGame()">
        Reset
    </button>

</div>